.navbarContainer {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  background-color: antiquewhite;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.rowItem {
  margin: 10px;
  font-weight: bold;
}

.rowItemNB {
  margin: 10px;
}

.container {
  margin: 10px;
}

.centerContainer {
  text-align: center;
}

.flexContainer {
  text-align: center;
  margin-left: 25%;
  margin-right:25%;
  width: 50%;
}

.flexWrapContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fWElement {
  margin: 70px;
  text-align: center;
  background-color: #F0F8FF;
  width: 20%;
  border-radius: 10%;
}

.imgUser {
  width: 250px;
  height: 250px;
  border-radius: 50%
}

.button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 20px;
  margin-right: 20px;
}