.navbarContainer {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.rowItem {
  margin: 10px;
  font-weight: bold;
}

.centerContainer {
  text-align: center;
}

.flexContainer {
  text-align: center;
  margin-left: 25%;
  margin-right:25%;
  width: 50%;
}